<ion-view view-title="{{mountain.name}}">
  <ion-nav-bar  class="bar-dark">
        <ion-nav-back-button class="button-icon ion-ios-arrow-back md-arrow-round-back"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <h1>{{mountain.name}}</h1>
    <img ng-src="{{mountain.face}}" style="width:100%;height:300px;">

    <div class="card">
      <div class="item item-divider item-icon-left item-dark">
        <i class="icon ion-ios-snowy"></i>
        Snow Report
      </div>
      <div class="item item-text-wrap">
        <div class="snow-details">
        <p><b>Last Snow:</b> {{lastSnow}}</p>
        </div>
      </div>
      <div class="item item-divider item-icon-left item-dark">
        <i class="icon ion-ios-rainy"></i>
        Weather
      </div>
    </div>

    <h2> Weather </h2>
    <div class="weather-details">
    <p><b>Todays Weather:</b> {{results}}</p>
    <p><b>Tomorrows Weather:</b> {{tomorrow}}</p>
    <p><b>Weather in 2 Days:</b> {{days2}}</p>
    <p><b>Weather in 3 Days:</b> {{days3}}</p>
    <p><b>Weather in 4 Days:</b> {{days4}}</p>

    </div>
  </ion-content>
</ion-view>
