<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{mountain.name}}">
  <ion-content class="padding">
    <img ng-src="{{mountain.face}}" style="width: 64px; height: 64px">

    <h2> Snow Report </h2>
    <div class="snow-details">
    <p><b>Last Snow:</b> {{lastSnow}}</p>
    </div>

    <h2> Weather </h2>
    <div class="weather-details">
    <p><b>Todays Weather:</b> {{results}}</p>
    <p><b>Tomorrows Weather:</b> {{tomorrow}}</p>
    <p><b>Weather in 2 Days:</b> {{days2}}</p>
    <p><b>Weather in 3 Days:</b> {{days3}}</p>
    <p><b>Weather in 4 Days:</b> {{days4}}</p>

    </div>

    <!--
    Print the variables with information from myweather2 that the conroller MntDetailCtrl retrieved
    -->
    <!-- <div id = "lastSnow"></div>
    <div id = "results"></div>
    <div id = "tomorrow"></div>
    <div id = "days2"></div>
    <div id = "days3"></div>
    <div id = "days4"></div> -->
  </ion-content>
</ion-view>
