<ion-view class="mountain" view-title="Mountains" ng-controller="MntCtrl">
  <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="settings-button padding block">
      <button class="button button-light icon button-icon ion-gear-a" ng-click="form=!form"></button>
  </div>
    <div class ="padding block" ng-show="form">
      <ion-list>
        <!-- radius -->
        <div class="item table-row">
          <div class="input label">
            <div class="row">
              <div class="col-50"><h2>Distance:</h2></div>
              <!-- debug -->
              <div class="col-50"><h2 align="right">{{distance}}km</h2></div>
            </div>
          </div>
          <!-- radius slider -->
          <div class = "range">
            <div class="input label">0</div>
            <input type = "range" ng-model = "distance" min="0" max="200">
            <div class="input label">200</div>
          </div>
        </div>

        <!-- Difficulty -->
        <div class="item table-row">
          <div class="row">
            <div class="col-50"><h2>Difficulty:</h2></div>
            <!-- debug -->
            <!-- <div class="col-50"><h2 align="right">{{difficulty}}</h2></div> -->
          </div>
          <div class= "range">
            <div class="input label">Easy</div>
            <input type = "range" ng-model = "difficulty" min="0" max="2" step="1" snap="true">
            <div class="input label">Hard</div>
          </div>
        </div>

        <!-- size -->
        <div class="item table-row">
          <div class="row">
            <div class="col-50"><h2>Size:</h2></div>
            <div class="col-50"><h2 align="right">{{size}}</h2></div>
          </div>
          <div class= "range">
            <div class="input label">Small</div>
            <input type = "range" ng-model = "size" min="0" max="4" step="1" snap="true">
            <div class="input label">Large</div>
          </div>
        </div>

        <!-- <ion-toggle  ng-model="parks" ng-init="parks = true">With parks</ion-toggle> -->

        <!-- end of preferences -->
        <!-- submit button -->
        <button class = "button button-block button-positive" ng-click="submitForm()">Submit</button>
        <button class = "button button-block" ng-click="showAll()">Show All Moutains</div>
    <!-- ng show -->
    </ion-list>
    </div>
    <div class ="result padding block" ng-hide="form">
      <h1>Top Slopes for you ...</h1>
      <!-- <p>query: {{query}}</p> -->
      <table class="results-table">
        <tr class="table-row" ng-repeat="entry in collection">
              <td class = "padding mountain-details">
                <ahref= "#/tab/mountains/{{entry.id}}">
                  <h3>{{entry.name}}</h3>
                  <div class= "row">
                <div class= "col col-70">
                <ul>Size: {{entry.size}}</ul>
                <ul>Difficulty: {{entry.difficulty}}</ul>
                <ul>{{entry.distance | number:0}} km away</ul>
              </div>
              <div class="col">
                <img ng-src="{{entry.weather == 'Clouds' && 'img/weather-icons/cloudy.png' || entry.weather == 'Snow' && 'img/weather-icons/snowy.png'}}" alt="Clouds" style="height:80px;width:auto"/>
                <p>{{entry.weather}}</p>
              </div>
            </div>
            </a>
              </td>
        </tr>
      </table>
      <ion-class ng-hide="collection.length">Sorry, no matching mountains found.  Please try again.<ion-class>
    </div>
  </ion-content>
</ion-view>
