<ion-view view-title="Mountains">
  <ion-content class="padding">
    <h2>Mountains Page</h2>
    <p>Show the list of mountains based on filters set here.</p>
    <p>Create a preferences drop down menu to set the filters with this in the background.</p>
    <p><b>TODO:</b> Add a mountain icon for the tab</p>

    <!-- Create a list of mountains -->
    <script>console.log('info');</script>
    <div id="mountain_list"></div>
    <div id="error_codes"></div>
    <!--
    <ion-list>

      <!-- Create a new list item for every mountain in list -->
      <!-- Use angularJS binding {{ xx }}
      <ion-item ng-repeat="mountain_in_list">
        {{mountain.name}}
      </ion-item>
    </ion-list>
-->
  </ion-content>
</ion-view>
