<ion-view class="home" view-title="Home" cache-view="false">
  <!-- <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
  </ion-nav-bar> -->
  <ion-content class="padding">
    <center><img src="img/Logo.png" alt="Slopes logo" style="width:300px;height:400px;"></center>

<!--
    <button class = "button button-stable button-block" ng-click="getID()">Get Weather for Favorite Mountain</button>
  -->
  <div style:"position:relative">
    <div class="row" >
      <a
      style="width:95%; margin:auto; margin:10px"
      class="button button-positive"
      ui-sref="tab.mountains">Find a Mountain</a>
    </div>
    <div class="row">
      <a
      style="width:95%; margin:auto; margin:10px"
      class="button button-positive"
      ng-if="homeMntId > 0"
      href= "#/tab/mountains/{{homeMntId}}">Favorite: {{homeMnt.name}}</a>
    </div>
    <div class="row">
      <a
      style="width:95%; margin:auto; margin:10px"
      class="button button-positive"
      ng-if="homeMntId <= 0"
      ng-click="alertUser()">No Favorite Set</a>
    </div>
    <div class="row">
      <a
      style="width:95%; margin:auto; margin:10px"
      class="button button-assertive"
      ng-click="removeFave()">Clear Favorite Mountain</a>
    </div>
  </div>
  </ion-content>

</ion-view>
