
/* Empty. Add your own CSS if you like */
.home{
/*background:url('https://i.ytimg.com/vi/iktuVPzp1hc/maxresdefault.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;*/
  background:url('../img/slopes-wallpaper.png') no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

.mountain{
/*background:url('https://i.ytimg.com/vi/iktuVPzp1hc/maxresdefault.jpg') no-repeat center center fixed;*/
  background:url('../img/slopes-wallpaper.png') no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
/*don't show underline in links*/
a{
  text-decoration: none ;
}

h2,h3,ul,p{
  color: #38434C !important;
}

h4{
  color: white !important ;
  font-size: 15px !important;
}

.strokeme
{
  position:absolute;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: black;
  text-shadow:
  -1px -1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  1px 1px 0 #FFFFFF;
}

.row-grey{
  background-color: #C0C0C0 ;
  opacity: 0.8 ;
}

i.mountain.ion-help {
  font-size: 5px;
}

.table-row{
  border: 1px solid #D3D3D3 !important ;
  font: #38434C !important ;
}

.results{
  padding-top: 5% ;
}
.each-mountain{
  padding-top: 5px ;
  padding-bottom: 5px ;
}

.weather-icon{
  margin-right: 2% ;
  padding-right: 15px ;
}
/*
.item .item-content{
  background-color: rgba(0, 0, 0, 0) !important ;
  filter: alpha(opacity=50) !important;
}


/*ion-list.card-background{
      position: absolute;
      left: 40%;
      top: 80%;
      background-color: rgba(0, 0, 0, 0);
  }

  ion-item.item-trns {
    background-color: rgba(0, 0, 0, 0);
    color: white;
   } */

 .mountain-details{
   background-image:url('../img/slopes-wallpaper.png') ;
   background-repeat: no-repeat ;
   background-position: center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;

   text-align: center ;
 }

 .details-header{
   display: block ;
   max-height: 300px ;
   width: 100% ;

   margin-top: 3% ;
  }

  .weather-forecast{
    margin: 0 0 0 0 ;
  }

  .mountain-info{
  }
