
/* Empty. Add your own CSS if you like */
.home{
background:url('https://i.ytimg.com/vi/iktuVPzp1hc/maxresdefault.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

.mountain{
background:url('https://i.ytimg.com/vi/iktuVPzp1hc/maxresdefault.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
/*don't show underline in links*/
a{
  text-decoration: none ;
}

.mountaindetail{
  background-color: #444444;

}

.settings-button{
  float:right ;
}
.strokeme
{
  position:absolute;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: black;
  text-shadow:
  -1px -1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  1px 1px 0 #FFFFFF;
}
.results-table{
  margin-left: 5% ;
  margin-right: 5% ;
  width: 90% ;
}
.table-row{
  background-color: rgba(148,147,148,0.8) !important;
  border: 1px solid #D3D3D3 !important ;
  font: #38434C !important ;
}

.table-row h3,ul{
  color: #38434C !important;
}
.result{
  color: white ;
}
.result h1{
  color: white ;
}

.each-mountain{
  background-color: rgba(0,0,0,0.6) ;
  border-radius: 5px ;
  border: 1px solid grey ;
}
/*
.item .item-content{
  background-color: rgba(0, 0, 0, 0) !important ;
  filter: alpha(opacity=50) !important;
}*/


/*ion-list.card-background{
      position: absolute;
      left: 40%;
      top: 80%;
      background-color: rgba(0, 0, 0, 0);
  }

  ion-item.item-trns {
    background-color: rgba(0, 0, 0, 0);
    color: white;
   } */
